.btn
{
    height: 50px;
    width: 100px;
    border-radius: 50%;
    color: red;
    background-color: blue;
    transition:transform 0.5s ease-out 0.2s;

}

.btn:hover
{
    transform:translateX(-100px) rotate(40deg) translateY(-50px);
    color: black;
}
.button
{
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    animation:1s ease-in 0.5s SlideIn;
}
@keyframes SlideIn
{
    0%
    {
        transform: translateX(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}